.coloring-image {
  max-width: 50%;
  margin: 0 auto;
}

.swatch {
  position: fixed;
}

.swatch-color {
  width: 50px;
  height: 50px;
}

.current-color {
  position: fixed;
  bottom: 0;
}

.thumbnail {
  width: 150px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.books {
  display: flex;
}
